Repository shinamicorp/shinami-typescript-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: clients, legacy, nextjs-zklogin

codecov.yml:

# Copyright 2023-2024 Shinami Corp.
# SPDX-License-Identifier: Apache-2.0

coverage:
  status:
    project: true

flags:
  clients:
    paths:
      - packages/clients
  legacy:
    paths:
      - packages/legacy
  nextjs-zklogin:
    paths:
      - packages/nextjs-zklogin

multi upload
  .github/workflows/ci.yaml
  codecov.yml
Due: none

is missing mkdir
  .github/workflows/ci.yaml
Due: none

remove codecov flag config
  .github/workflows/ci.yaml
  codecov.yml
Due: none

folder fix
  .github/workflows/ci.yaml
Due: none

no flag, even though it's monorepo
  .github/workflows/ci.yaml
Due: none

Add codecov (#1)
  .gitignore
  codecov.yml
Due: none

minor naming fix, remove unused workflow
  .github/workflows/ci.yaml
  package.json
  packages/clients/package.json
Due: clients

Configure coverage and add codecov
  .github/workflows/ci.yaml
  .gitignore
  codecov.yml
  jest.config.mjs
  packages/clients/package.json
Due: clients

feedback: revert coverage command
  .github/workflows/ci.yaml
  jest.config.mjs
  packages/clients/package.json
Due: clients

Configure coverage and add codecov (#44)
  .github/workflows/ci.yaml
  .gitignore
  codecov.yml
Due: none

dummy diff
  packages/clients/src/rpc.ts
Due: clients

Fix dep compat workflow for TypeScript 5.8
  .github/workflows/dep_compat.yaml
Due: none

Fix dep compat workflow for TypeScript 5.8 (#46)
  .github/workflows/dep_compat.yaml
Due: none

support multi regions
  packages/clients/src/aptos/aptos.ts
  packages/clients/src/aptos/endpoints.ts
  packages/clients/src/aptos/gas.ts
  packages/clients/src/aptos/wallet.ts
  packages/clients/src/region.ts
  packages/clients/src/sui/endpoints.ts
  packages/clients/src/sui/gas.ts
  packages/clients/src/sui/index.ts
  packages/clients/src/sui/wallet.ts
  packages/clients/src/sui/zkprover.ts
  packages/clients/src/sui/zkwallet.ts
  packages/clients/test/sui/sui.integration.test.ts
Due: clients

address comment
  packages/clients/README.md
  packages/clients/src/aptos/aptos.ts
  packages/clients/src/aptos/endpoints.ts
  packages/clients/src/aptos/gas.ts
  packages/clients/src/aptos/wallet.ts
  packages/clients/src/region.ts
  packages/clients/src/sui/endpoints.ts
  packages/clients/src/sui/gas.ts
  packages/clients/src/sui/sui.ts
  packages/clients/src/sui/wallet.ts
  packages/clients/src/sui/zkprover.ts
  packages/clients/src/sui/zkwallet.ts
Due: clients

version
  packages/clients/package.json
Due: clients

lint
  packages/clients/README.md
Due: clients

feedback
  packages/clients/src/aptos/aptos.ts
  packages/clients/src/aptos/endpoints.ts
  packages/clients/src/aptos/gas.ts
  packages/clients/src/aptos/wallet.ts
  packages/clients/src/region.ts
  packages/clients/src/sui/gas.ts
  packages/clients/src/sui/sui.ts
  packages/clients/src/sui/wallet.ts
  packages/clients/src/sui/zkprover.ts
  packages/clients/src/sui/zkwallet.ts
Due: clients

update
  packages/clients/src/aptos/wallet.ts
  packages/clients/src/sui/wallet.ts
Due: clients

update
  packages/clients/README.md
Due: clients

update
  packages/clients/test/sui/sui.integration.test.ts
Due: clients

feedback
  packages/clients/src/aptos/index.ts
  packages/clients/src/region.ts
Due: clients

feedback
  packages/clients/src/aptos/aptos.ts
  packages/clients/src/aptos/gas.ts
  packages/clients/src/aptos/wallet.ts
  packages/clients/src/region.ts
  packages/clients/src/sui/gas.ts
  packages/clients/src/sui/sui.ts
  packages/clients/src/sui/wallet.ts
  packages/clients/src/sui/zkprover.ts
  packages/clients/src/sui/zkwallet.ts
Due: clients

lint
  packages/clients/src/region.ts
Due: clients

support multi regions (#47)
  packages/clients/package.json
  packages/clients/src/aptos/aptos.ts
  packages/clients/src/aptos/endpoints.ts
  packages/clients/src/aptos/gas.ts
  packages/clients/src/aptos/index.ts
  packages/clients/src/aptos/wallet.ts
  packages/clients/src/index.ts
  packages/clients/src/region.ts
  packages/clients/src/sui/endpoints.ts
  packages/clients/src/sui/gas.ts
  packages/clients/src/sui/index.ts
  packages/clients/src/sui/sui.ts
  packages/clients/src/sui/wallet.ts
  packages/clients/src/sui/zkprover.ts
  packages/clients/src/sui/zkwallet.ts
  packages/clients/test/sui/sui.integration.test.ts
Due: clients

Fix Aptos wallet tests
  package-lock.json
  packages/clients/test/aptos/wallet.integration.test.ts
Due: clients

readme minor
  packages/clients/README.md
Due: clients

Fix Aptos wallet tests (#48)
  package-lock.json
  packages/clients/README.md
  packages/clients/test/aptos/wallet.integration.test.ts
Due: clients

add support for movement gas station
  examples/movement-move/.gitignore
  examples/movement-move/Move.toml
  examples/movement-move/README.md
  examples/movement-move/sources/math.move
  packages/clients/README.md
  packages/clients/src/aptos/endpoints.ts
  packages/clients/src/aptos/gas.ts
  packages/clients/src/region.ts
  packages/clients/test/movement/gas.integration.test.ts
  packages/clients/test/movement/integration.env.ts
Due: clients

prettier + ci for movement
  .github/workflows/ci.yaml
  .github/workflows/dep_compat.yaml
  packages/clients/README.md
  packages/clients/src/aptos/gas.ts
  packages/clients/test/movement/gas.integration.test.ts
  packages/clients/test/movement/integration.env.ts
Due: clients

bump version
  packages/clients/package.json
Due: clients

pr comments
  .github/workflows/ci.yaml
  .github/workflows/dep_compat.yaml
  package-lock.json
  packages/clients/README.md
  packages/clients/src/aptos/gas.ts
  packages/clients/test/aptos/gas.integration.test.ts
  packages/clients/test/aptos/integration.env.ts
  packages/clients/test/aptos/wallet.integration.test.ts
  packages/clients/test/movement/gas.integration.test.ts
  packages/clients/test/movement/integration.env.ts
Due: clients

formatting
  packages/clients/src/aptos/gas.ts
  packages/clients/test/aptos/gas.integration.test.ts
Due: clients

add support for movement gas station (#49)
  .github/workflows/ci.yaml
  .github/workflows/dep_compat.yaml
  examples/movement-move/.gitignore
  examples/movement-move/Move.toml
  examples/movement-move/README.md
  examples/movement-move/sources/math.move
  package-lock.json
  packages/clients/README.md
  packages/clients/package.json
  packages/clients/src/aptos/endpoints.ts
  packages/clients/src/aptos/gas.ts
  packages/clients/src/region.ts
  packages/clients/test/aptos/gas.integration.test.ts
  packages/clients/test/aptos/integration.env.ts
  packages/clients/test/aptos/wallet.integration.test.ts
Due: clients

add support for movement invisible wallet
  .github/workflows/ci.yaml
  .github/workflows/dep_compat.yaml
  package.json
  packages/clients/README.md
  packages/clients/package.json
  packages/clients/src/aptos/endpoints.ts
  packages/clients/src/aptos/wallet.ts
  packages/clients/test/aptos/integration.env.ts
  packages/clients/test/aptos/wallet.integration.test.ts
Due: clients

remove error
  package.json
Due: none

pr comments
  packages/clients/README.md
  packages/clients/src/aptos/wallet.ts
Due: clients

update tanstack to fix dep compat job
  package-lock.json
  packages/nextjs-zklogin/package.json
  packages/nextjs-zklogin/src/client/hooks/tx.ts
Due: nextjs-zklogin

update to node 20
  .github/workflows/ci.yaml
  .github/workflows/dep_compat.yaml
Due: none
